<div class="modal-body">
    <div class="container-fluid">
        <div class="row">
            <form [formGroup]="changePasswordForm" (ngSubmit)="changePassword()">
                <div class="loginPopup">
                    <div class="loginHeading">
                        <h2 class="pb-2"><b>Change Password</b></h2>                       
                        <button type="button" class="close" aria-label="Close" (click)="closeModal('Cross click')">
                            <span aria-hidden="true">×</span>
                        </button>
                    </div>
                    <div class="loginPopupRow inputMargin">
                        <input type="password" formControlName="oldPassword" class="form-control" placeholder="Enter Old Password"
                            [ngClass]="{ 'is-invalid': submitted && r.oldPassword.errors }" maxlength="10" />
                        <div *ngIf="submitted && r.oldPassword.errors" class="invalid-feedback">
                            <div *ngIf="r.oldPassword.errors.required">Old Password is required</div>
                            <div *ngIf="r.oldPassword.errors.maxlength">Old Password maxlength exceeds</div>
                        </div>
                    </div>
                    <div class="loginPopupRow inputMargin">
                        <input type="password" formControlName="newPassword" maxlength="50" class="form-control" placeholder="Enter New Password" [ngClass]="{ 'is-invalid': submitted && r.newPassword.errors }" />
                        <div *ngIf="submitted && r.newPassword.errors" class="invalid-feedback">
                            <div *ngIf="r.newPassword.errors.required">New Password is required</div>
                            <div *ngIf="r.newPassword.errors.maxlength">New Password maxlength exceeds</div>
                        </div>
                    </div>     
                    <div class="loginPopupRow inputMargin">
                        <input type="password" formControlName="confirmPassword" maxlength="50" class="form-control" placeholder="Enter Confirm Password" [ngClass]="{ 'is-invalid': submitted && r.confirmPassword.errors }" />
                        <div *ngIf="submitted && r.confirmPassword.errors" class="invalid-feedback">
                            <div *ngIf="r.confirmPassword.errors.required">Confirm Password is required</div>    
                            <!-- <div *ngIf="r.confirmPassword.errors.confirmedValidator">Password and Confirm Password must be match.</div> -->
                        </div>
                    </div>   
                    <div class="loginPopupRow">
                        <button type="submit" class="loginBtn">Continue</button>
                    </div>                  
                </div>
            </form>
        </div>
    </div>
</div>