<!-- Header -->
<header>
    <div class="flex-container wrapper secPadding">
      <div class="primary_logo">
        <img src="{{objStoreInfo.logoPath}}"/>
      </div>
      <div class="needHelp"><span>Need Help?</span><br>{{objStoreInfo.contactNumber}}</div>
      <div class="cartBtn">My Cart</div>
      <div class="loginBtn">Login/Singup</div>
    </div>
    <div class="menuBg">
      <div class="wrapper">
        <ul>
          <li>
            <a href="#"><img src="../assets/img/fruits-vegetables-icon.png" alt="img"><span>Fruits & Vegetables</span></a>
          </li>
          <li>
            <a href="#"><img src="../assets/img/frozen-icon.png" alt="img"><span>Frozen</span></a>
          </li>
          <li>
            <a href="#"><img src="../assets/img/baverages-icon.png" alt="img"><span>Beverages</span></a>
          </li>
          <li>
            <a href="#"><img src="../assets/img/household-icon.png" alt="img"><span>Household Essentials</span></a>
          </li>
          <li>
            <a href="#"><img src="../assets/img/eggs-dairy-icon.png" alt="img"><span>Eggs & Dairy</span></a>
          </li>
          <li>
            <a href="#"><img src="../assets/img/more-category.png" alt="img"><span>More Category</span></a>
          </li>
        </ul>
      </div>
    </div>
    <!--
    <div class="innerBanner">
      <div class="wrapper">
        <h1>Checkout</h1>
      </div>
    </div>-->
  </header>