<div class="myAccountLeft">
    <ul>
        <li><a href=""><i class="icon-profile customIcon"></i>My Account</a></li>
        <li><a href=""><i class="icon-cart customIcon"></i>My Orders</a></li>
        <li><a href=""><i class="icon-location customIcon"></i>Delivery Addresses</a></li>
        <li><a href=""><i class="icon-document customIcon"></i>Legal, Terms & Conditions</a></li>
        <li><a href=""><i class="icon-help customIcon"></i>Help & support</a></li>
        <li><a href=""><i class="icon-logout customIcon"></i>Logout</a></li>
        <span class="icon-user"></span>
    </ul>
</div>