<!-- Footer -->
<div class="flex-container">
  <div class="newsletterSec">
    <div class="wrapper">
      <div class="newsletterLabel">
        <h2>Subscribe Newsletter</h2>
        <p>By signing up you are agreeing to our Privacy Policy and Terms of Service</p>
      </div>
      <div class="newsletterInput">
          <input type="text" name="" id="" placeholder="Enter your email address"/>
          <button>Subscribe</button>
      </div>
    </div>
  </div>
</div>
<footer class="footerPadding">
    <div class="wrapper">
      <div class="footer-container">
        <div class="flex-item">
          <h2>Help</h2>
          <ul>
            <li><a href="#">Refund Policy</a></li>
            <li><a href="#">Live Chat with Customer Care</a></li>
            <li><a href="#">Track Order</a></li>
            <li><a href="#">FAQs</a></li>
            <li><a href="#">Terms and Conditions</a></li>
          </ul>
        </div>
        <div class="flex-item">
          <h2>Opening Hours</h2>
          <ul>
            <li>Monday: 06:00am - 09:00pm</li>
            <li>Tuesday: 06:00am - 09:00pm</li>
            <li>Wednesday: 06:00am - 09:00pm</li>
            <li>Thursday: 06:00am - 09:00pm</li>
            <li>Friday: 06:00am - 09:00pm</li>
            <li>Saturday: 06:00am - 09:00pm</li>
            <li>Sunday: 06:00am - 09:00pm</li>
          </ul>
        </div>
        <div class="flex-item">
          <h2>Store Location</h2>
          <p>{{objStoreInfo.address}}</p>
          <p><b>Phone:</b> {{objStoreInfo.contactNumber}}</p>
          <p><b>Email:</b> {{objStoreInfo.email}}</p>
        </div>
      </div>
    </div>
    <div class="copyrightSec">
      <div class="wrapper">
        <p>©2020, Taw Express. All Rights Reserved.</p>
      </div>
    </div>
  </footer>