<div class="modal-body p-0">
    <button type="button" class="menuClose" aria-label="Close" (click)="closeModal('Cross click')">
        <span aria-hidden="true">×</span>
    </button>
    <div class="mobileNavHeader">
        <a (click)="redirectToDashboard()"><img src="{{objStoreInfo.logoPath}}" /></a>
        <div class="storeName">Key Food Store</div>
        <p><i class="icon-location customIcon"></i>{{objStoreInfo.address}}</p>
    </div>
    <div class="myAccountNav">
        <ul>
            <li *ngIf='!(_accountService.isLoggedIn$ | async)'>
                <a href="javascript:void(0);" (click)="openLoginModal()"><i class="icon-profile"></i>Login</a>
            </li>
            <li *ngIf='!(_accountService.isLoggedIn$ | async)'>
                <a href="javascript:void(0);" (click)="openRegisterModal()"><i class="icon-profile"></i>Sign Up</a>
            </li>
            <li *ngIf='(_accountService.isLoggedIn$ | async)'>
                <a href="javascript:void(0);" (click)='redirectToProfile()'><i class="icon-profile"></i>My Account</a>
            </li>
            <li *ngIf='(_accountService.isLoggedIn$ | async)'>
                <a href="javascript:void(0);" (click)='logout()'><i class="icon-logout"></i>Logout</a>
            </li>
        </ul>
    </div>
    <div class="mobileNav">
        <ul>
            <li>
                <a href="javascript:void(0);" (click)="redirectToSpecialOffer()"><span class="specialIcon icon-offer"></span>Special Offer</a>
            </li>
            <li *ngFor="let cat of objCategory">
                <div *ngIf='cat.imagePath!="" && cat.imagePath!=null'>
                    <img src="{{cat.imagePath}}" alt="img">
                </div>
                <a href="javascript:void(0);" (click)="redirectToProducts(cat.id)">{{cat.name}}</a>
            </li>
            <li *ngIf='(_accountService.isLoggedIn$ | async)'>
                <a href="javascript:void(0);">Order Track</a>
            </li>
        </ul>
    </div>
</div>